div(class='footer__social footer-social')
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--mail')
            div(class='footer-social__icon-bg')
            a(class='footer-social__icon-link', href='mailto:tar.ko906090@gmail.com')
        a(class='footer-social__text-link', href='mailto:tar.ko906090@gmail.com')
            | tar.ko906090@gmail.com
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--fb')
            div(class='footer-social__icon-bg')
            a(class='footer-social__icon-link', href='https://www.facebook.com/luxeroyal777/')
        a(class='footer-social__text-link', href='https://www.facebook.com/luxeroyal777/')
            | https://www.facebook.com/luxeroyal777/
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--vk')
            div(class='footer-social__icon-bg')
            a(class='footer-social__icon-link', href='https://vk.com/luxeroyal')
        a(class='footer-social__text-link', href='https://vk.com/luxeroyal')
            | https://vk.com/luxeroyal
