div(class='header__social header-social')
    a(class='header-social__link', href='mailto:tar.ko906090@gmail.com')
        div(class='header-social__icon header-social__icon--mail')
    a(class='header-social__link', href='https://www.facebook.com/luxeroyal777/')
        div(class='header-social__icon  header-social__icon--fb')
    a(class='header-social__link', href='https://vk.com/luxeroyal')
        div(class='header-social__icon  header-social__icon--vk')
