div(class='header__nav header-nav')
    div(class='header-nav__btn', id='header-nav__contacts')
        span КОНТАКТЫ
    a(class='header-nav__btn header-nav__btn_active')
        span ПОЛИТИКА КОНФИДЕН.
    div(class='header-nav__btn', id='header-nav__support')
        span ПОДДЕРЖКА